* {
    margin: 0;
    padding: 0;
    font-family: 'Merriweather', serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Quicksand', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;
}
.header{
    min-height: 400px;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.6), rgba(4,9,30,0.5)), url(schoolkids.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
#header setit {
	color: greenyellow;
}
#cdetails{
    text-align: center;
}
#cpicture img {
    width: 70%;
}

nav{
    display: flex;
    padding: 2%;
    justify-content: space-between;
    align-items: center;
}
#nav-menu-container {
    display: flex;
    padding: 2%;
    justify-content: space-between;
    align-items: center; 
    border: 1px solid transparent;
}
/* Nav Menu Essentials */
.nav-menu, .nav-menu * {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .nav-menu ul {
    position: absolute;
    display: none;
    top: 100%;
    right: 0;
    z-index: 99;
  }
  
  .nav-menu li {
    position: relative;
    white-space: nowrap;
  }
  
  .nav-menu > li {
    float: right;
  }
  
  .nav-menu li:hover > ul,
  .nav-menu li.sfHover > ul {
    display: inline-flex;
  }
  
  .nav-menu ul ul {
    top: 0;
    right: 100%;
  }
  
  .nav-menu ul li {
    min-width: 180px;
  }
  
  /* Nav Menu Arrows */
  .sf-arrows .sf-with-ul {
    padding-right: 30px;
  }

/* Nav Meu Container */
@media (max-width: 368px) {
    #nav-menu-container {
      display: block;
		height: 75%;
    }
	.setit {
	text-decoration-color: yellow;
	display: none;
	}
  }
  
  /* Nav Meu Styling */
  .nav-menu a {
    padding: 0 8px 0px 8px;
    text-decoration: none;
    display: inline-block;
    color: #fff;
    font-weight: 500;
    font-size: 12px;
    text-transform: uppercase;
    outline: none;
  }
  /* for hovering the nav bar  */
  .nav-menu li:hover > a {
    color: #f8b600;
  }
  /* positioning the bar in the slab   */
  .nav-menu > li {
    margin-left: 10px;
  }
  /* box cascading from the tabs   */
  .nav-menu ul {
    margin: 22px 0 0 0;
    padding: 10px;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    background: #fff;
  }
  
  .nav-menu ul li {
    transition: 0.3s;
  }
  /* letters in the box features cascading   */
  .nav-menu ul li a {
    padding: 5px 10px;
    color: #333;
    transition: 0.3s;
    display: block;
    font-size: 12px;
    text-transform: none;
  }
  /*  hovering after cascading   */
  .nav-menu ul li:hover > a {
    color: #f8b600;
  }
  /* cascading 2nd level features distance */
  .nav-menu ul ul {
    margin-right: 10px;
    margin-top: 0;
  }
  
  /* Mobile Nav Toggle */ /* the nav bars details    */
  #mobile-nav-toggle {
    float: right;
    z-index: 999;
    margin-top: 4px;
    border: 0;
    background: none;
    font-size: 24px;
    display: none;
    transition: all 0.4s;
    outline: none;
	cursor: pointer;
	}

  

  /* the nav bars features    */
  #mobile-nav-toggle i {
    color: #fff;
    font-weight: 900;
  }
  /* when the nav bar lines are to appear & how   */
  @media (max-width: 300px) {
    #mobile-nav-toggle { 
      display: inline; 
      position: relative;
    }
    #nav-menu-container { 
      display: inline-block;   
    }
	.setit {
	text-decoration-color: yellow;
	display: none;
	}
	.dsponsor {
    color: chartreuse;
    font-size-adjust: auto; 
	font-size: 15px; 
	min-width: 505px; 
	  }
	 .row {
		  display: inline-flex; 
	  }
}
  
  /* Mobile Nav Styling */
  #mobile-nav {
    position: fixed;
    top: 0;
    padding-top: 18px;
    bottom: 0;
    z-index: 998;
    background: rgba(0, 0, 0, 0.8);
    left: -260px;
    width: 260px;
    overflow-y: auto;
    transition: 0.4s;
  }
  
  #mobile-nav ul {
    padding: 0;
    margin: 0;
    list-style: none;  
  }
  /* aside navigation downward arrangement  */
  #mobile-nav ul li {
    position: relative; 
    display: grid;
  }
  /* mobile nav aside */ 
  #mobile-nav ul li a {
    color: #fff;
    font-size: 13px;
    text-transform: uppercase;
    overflow: hidden;
    padding: 10px 22px 10px 15px;
    position: relative;
    text-decoration: none;
    width: 100%;
    display: block;
    outline: none;
    font-weight: 400;
  }
  /* hovering the aside navigation */
  #mobile-nav ul li a:hover {
    color: #fff;
  }
  /* how inside 2nd cascading happens  */
  #mobile-nav ul li li {
    padding-left: 30px;
  }
  /* indicators of the downward arrows  */
  #mobile-nav ul .menu-has-children i {
    position: absolute;
    right: 0;
    z-index: 99;
    padding: 15px;
    cursor: pointer;
    color: #fff;
  }
  
  #mobile-nav ul .menu-has-children i.fa-chevron-up {
    color: #f8b600;
  }
  
  #mobile-nav ul .menu-has-children li a {
    text-transform: none;
  }
  /* area selected or being focused on */
  #mobile-nav ul .menu-item-active {
    color: yellow;
  }
  
  #mobile-body-overly {
    width: 100%;
    height: 100%;
    z-index: 997;
    top: 0;
    left: 0;
    position: fixed;
    background: rgba(0, 0, 0, 0.7);
    display: none;
  }
  
  /* Mobile Nav body classes */
  body.mobile-nav-active {
    overflow: hidden;
  }
  /* visibility after clicking the 3 nav bars */
  body.mobile-nav-active #mobile-nav {
    left: 0;
  }
  /* color of the aside nav-headlines */
  body.mobile-nav-active #mobile-nav-toggle {
    color: yellow;
  }


nav img{
    width: 80px;
    height: 75px;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul a{
    color: #fff;
    text-decoration: none;
    font-size: 13px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #b6ff00;
    display: block;
    margin: auto;
    transition: 1s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.text-box{
    width: 90%;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center; 
}
.text-box h1{
    font-size: 55px; 
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: #fff;
}
h2 {
    color: aqua;
}


.hero-btn {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff5ee;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.hero-btn:hover {
        border: 1px solid #f44336;
        background: #f44336;
        transition: 0.3s;
}
nav .fa{
        display: none;
}

@media(max-width: 300px) {
    .text-box h1 {
        font-size: 20px;
    	font-size-adjust: auto; 
    	position: fixed;
    }
	.setit {
	text-decoration-color: yellow;
	display: none;
	}

    .nav-links ul li {
        display: block;
    }

    .nav-links {
        position: absolute;
        background: #f44336;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }

    nav .fa {
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;

    }

    .nav-links ul {
        padding: 30px;
    }
}

/*------- About Area -------*/
.whoweare{
    margin-top: 10px;
    width: auto;
    text-align: center;
	
}
/* .row {
	display: inline-flex; 
	flex-direction: row;
	overflow-y: visible;
	overflow-x: visible; 
	vertical-align: top;
	  }  */
.testimonials{
    width: 45%;
    margin: auto;
    text-align: center;
    padding-top: 1px;
    background-color: bisque;
    margin-left: 20px;
    margin-right: 20px;
    width: 100%;
    max-height: inherit;
    padding-bottom: 1px; 
    overflow: auto;
    display: flex; 
    flex-wrap: wrap; 
    flex-shrink: auto; 
}
.testimonials-col{
    border-radius: 10px;
    margin-bottom: 2%;
    margin: 5px;
    background: #fff3f3;
    padding: 5px; 
    cursor: pointer;
    min-width: 18%; 
	max-width: 30%; 
	position: inherit;
    overflow: auto; 
    object-fit: cover; 
    float: left; 
    display: flex;
    flex-shrink: auto;
	overflow-x: visible;
}
.testimonials-col img{
    position: inherit;
    border-radius: 5px;
    
}
#boxer {
	width: 75%;
	display: inline-block;
}
#boxer h1 {
	color: greenyellow;
}
.testimonials-col p{
    padding: 5px;
}
.testimonials-col h3{
    margin-top: 1px;
    text-align: center;
}
.testmonial-col .fa{
    color: #f44336;
}
@media(max-width: 300px){
    .testimonial-col img{
        margin-left: 0px;
        margin-right: 15px;
    }
	.testimonials {
		flex-direction: row;
		display: flex;
		flex-basis: 35%;
		
		
	}
	.testimonials-col {
		min-width: 28%;
		max-width: 30%; 
		display: flex; 
		position: relative;
		justify-items: stretch;
	}
	  .row {
		  display: inline-flex; 
		flex-direction: row;
		  overflow-y: visible;
	  }


}

/*------- course ------*/

.course{
    width: 100%;
    margin: auto;
    text-align: center;
    padding-top: 20px;
    background-color: beige;
    margin-top: 5px;
}
    


p{
        color: #333;
        font-size: 14px;
        font-weight: 300;
        line-height: 22px;
        padding: 5px;
        padding-top: 1px;
}
p2{
    color: #222;
    font-size: 12px;
    font-weight: 200;
    line-height: 1px;
    padding: 1px;
    padding-top: 1px;
}


.course-col{
    flex-basis: 31%;
    background: #fff3f3;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
}
h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}
.row{
    margin-top: 1%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 2%;
    justify-items: auto;
}
.course-col{
    flex-basis: 23%;
    background: #fff3f3;
    border-radius: 10px;
    margin-bottom: 5%;
    /*--- margin-top: 2%; ----*/
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.2s;
}
h4{
    text-align: center;
    font-weight: 600; 
}
.course-col:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
} 

.dsponsor {
    color: chartreuse;
    font-size-adjust: auto; 
}


@media(max-width: 300px){
    .row{
        flex-direction: column;
    }
	.setit {
	text-decoration-color: yellow;
	display: none;
	font-size-adjust: auto;
	}

}

/*------ footer -----*/
.footer{
    width: 100%;
    text-align: center;
    padding: 10px 0;
}

.footer h4{
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
}

.icons .fa{
    color: #f44336;
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
}

.fa-heart-o{
    color: #f44336;
    
}

/* #pcontainer {
    width: 100%;
}  */

